html {
    box-sizing: border-box;
    font-size: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0; 
}

body {
    font-family: 'Josefin Sans', sans-serif;
    transition: 0.2s ease-in-out;
}

.container {
    padding: 50px 25px;

    @include breakpoint-up(medium){
        padding: 75px 450px;
    }
}

.circle {
    width: 22px;
    height: 22px;
    border: 1px solid $lightGrayishBlue;
    border-radius: 50%;

}

.dark-mode {
    background-color: $veryDarkBlue;

    input {
        background-color: $veryDarkDesaturatedBlue;
        color: white;
        font-weight: 400;
    }

    .circle {
        border-color: $darkGrayishBlue;
        
    }

    .to-do {
        background-image: url(../../images/bg-mobile-dark.jpg);

        @include breakpoint-up(large){
            background-image: url(../../images/bg-desktop-dark.jpg);
        }

        .list {
            background-color: $veryDarkDesaturatedBlue;
            color: white;
            border-color: $veryDarkGrayishBlueLight ;
        }
    }
}