html {
    box-sizing: border-box;
    font-size: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0; 
}

body {
    font-family: 'Josefin Sans', sans-serif;
}

.container {
    padding: 50px 25px;
}

.circle {
    width: 22px;
    height: 22px;
    border: 1px solid $lightGrayishBlue;
    border-radius: 50%;

}